<div class="row">
  <%= text_field_tag 'from', fact[:from],:name => type+'[][from]' %>
  <%= text_field_tag 'to', fact[:to],:name => type+'[][to]' %>
  <%= text_field_tag 'timeToCount', fact[:timeToCount],:name => type+'[][timeToCount]' %>
  <%= text_field_tag 'val', fact[:val],:name => type+'[][val]' %>
  <%= text_field_tag 'remarks', fact[:remarks],:name => type+'[][remarks]' %>
</div>
