<fieldset>
<% if portdetail_counter == 0 %>
  <% 
    facts = loading_facts 
    type = "loading"
    additional_time_allowance = additional_time[0]
    pre_advise = after_pre_advise[0]
  %>
  <ol id="loading">
    <%= error_messages_for 'portdetail', :object => portdetail, :header_message => 'Please correct the following errors and try again' %>
  <% else %>
  <% 
    facts = discharging_facts 
    type = "discharging"
    additional_time_allowance = additional_time[1]
    pre_advise = after_pre_advise[1]
  %>
  <ol id="discharging">
    <%= error_messages_for 'portdetail', :object => portdetail, :header_message => 'Please correct the following errors and try again' %>
<% end %>
  <%= f.hidden_field :operation, :name => 'portdetail[][operation]', :value => portdetail.operation %>
    <li>
    <%= f.label :cargo, 'Cargo' %>
    <%= select 'portdetail', 'cargo', %w{mts}, {}, {:index => nil} %>
    </li>
    <li>
    <%= f.label :quantity, 'Quantity' %>
    <%= f.text_field 'quantity', :name => 'portdetail[][quantity]', :class => 'textbox', :maxlength => 50, :value => portdetail.quantity %>
    </li>
    <li>
    <%= f.label :description, 'Description' %>
    <%= f.text_field 'description', :name => 'portdetail[][description]', :class => 'textbox', :maxlength => 50, :value => portdetail.description %>
    </li>
    <li>
    <%= f.label :allowanceType, 'AllowanceType' %>
    <%= select 'portdetail', 'allowanceType', %w[mts/day], {},{:index => nil} %>
    </li>
    <li>
    <%= f.label :allowance, 'Allowance' %>
    <%= f.text_field 'allowance', :name => 'portdetail[][allowance]', :class => 'textbox', :maxlength => 50, :value => portdetail.allowance %>
    </li>
    <li>
    <%= label_tag 'Additional Days' %>
    <%= text_field_tag 'add_allowance[][days]', additional_time_allowance.days, :class => 'textbox', :maxlength => 20 %>
    </li>
    <li>
    <%= label_tag 'Additional Hours' %>
    <%= text_field_tag 'add_allowance[][hours]', additional_time_allowance.hours, :class => 'textbox', :maxlength => 20 %>
    </li>
    <li>
    <%= label_tag 'Additional Mins' %>
    <%= text_field_tag 'add_allowance[][mins]', additional_time_allowance.mins, :class => 'textbox', :maxlength => 20%>
    </li>
    <li>
    <%= label_tag 'Pre-advise given' %>
    <%= text_field_tag 'pre_advise_given_first', additional_time_allowance.mins, :class => 'textbox', :maxlength => 20%>
    </li>
    <li>
    <%= label_tag 'Pre-advise given' %>
    <%= text_field_tag 'pre_advise_given_second', additional_time_allowance.mins, :class => 'textbox', :maxlength => 20%>
    </li>
    <li>
    <%= label_tag 'Begin Laytime Counting days' %>
    <%= text_field_tag 'pre_advise[][days]', pre_advise.days, :class => 'textbox', :maxlength => 20%>
    </li>
    <li>
    <%= label_tag 'Begin Laytime Counting hours' %>
    <%= text_field_tag 'pre_advise[][hours]', pre_advise.hours, :class => 'textbox', :maxlength => 20%>
    </li>
    <li>
    <%= label_tag 'Begin Laytime Counting mins' %>
    <%= text_field_tag 'pre_advise[][mins]', pre_advise.mins, :class => 'textbox', :maxlength => 20%>
    </li>
    <li>
    <%= f.label :demurrage, 'Demurrage' %>
    <%= f.text_field 'demurrage', :name => 'portdetail[][demurrage]', :class => 'textbox', :maxlength => 25, :value => portdetail.demurrage %>
    </li>
    <li>
    <%= f.label :despatch, 'Despatch' %>
    <%= f.text_field 'despatch', :name => 'portdetail[][despatch]', :class => 'textbox' , :maxlength => 25, :value => portdetail.despatch %>
    </li>
    <li>
    <%= f.label :commission_pct, 'Commission on demurrage(%)' %>
    <%= f.text_field 'commission_pct', :name => 'portdetail[][commission_pct]', :class => 'textbox' , :maxlength => 25, :value => portdetail.commission_pct %>
    </li>
    <li>
    <%= f.label :time_start, 'Start time' %>
    <%= f.text_field 'time_start', :name => 'portdetail[][time_start]', :class => 'textbox' , :maxlength => 25, :value => portdetail.time_start_string %>
    </li>
    <li>
    <%= f.label :time_end, 'End time' %>
    <%= f.text_field 'time_end', :name => 'portdetail[][time_end]', :class => 'textbox' , :maxlength => 25, :value => portdetail.time_end_string %>
    </li>
    <li>
    <%= f.label :calculation_type, 'Calculate this port' %>
    </li>
    <li>
    Normal <%= radio_button_tag('calculation_type' + portdetail_counter.to_s,  value="normal", :checked => true) %>
    Customary quick despatch <%= radio_button_tag('calculation_type' + portdetail_counter.to_s,  value="customary") %>
    </li>
    <li>
    <%= f.label :calculation_time_saved, 'Calculate time saved' %>
    </li>
    <li>
    Working time saved <%= radio_button_tag('calculation_time_saved' + portdetail_counter.to_s, value="working", :checked => true) %>
    All time saved <%= radio_button_tag('calculation_time_saved' + portdetail_counter.to_s, "all") %>
    </li>
    <li>
    <h2>Statement of Facts</h2>
    </li>
    <div class="sof">
    <% facts.each do  |fact|
      if portdetail_counter == 0 %>
      <%= text_field_tag 'from', fact.from, :name => 'loading[][from]', :class =>'loc' %>
      <%= text_field_tag 'to', fact.to, :name => 'loading[][to]', :class =>'loc' %>
      <%= text_field_tag 'timeToCount', fact.timeToCount, :name => 'loading[][timeToCount]', :class =>'ttc' %>
      <%= text_field_tag 'val', fact.val, :name => 'loading[][val]', :class =>'pct' %>
      <%= text_field_tag 'remarks', fact.remarks, :name => 'loading[][remarks]', :class =>'rem' %>
      <% else %>
      <%= text_field_tag 'from', fact.from, :name => 'discharging[][from]', :class =>'loc' %>
      <%= text_field_tag 'to', fact.to, :name => 'discharging[][to]', :class =>'loc' %>
      <%= text_field_tag 'timeToCount', fact.timeToCount, :name => 'discharging[][timeToCount]', :class =>'ttc' %>
      <%= text_field_tag 'val', fact.val, :name => 'discharging[][val]', :class =>'pct' %>
      <%= text_field_tag 'remarks', fact.remarks, :name => 'discharging[][remarks]', :class =>'rem' %>
      <% end %>
    <% end %>
    </div>
    <li>
      <% if portdetail_counter == 0 %>
      <a href="#" onclick="addrow('loading');">Add Fact</a>
      <% else %>
      <a href="#" onclick="addrow('discharging');">Add Fact</a>
      <% end %> 
    </li>
  </ol>
</fieldset>
