<fieldset>
<% if portdetail_counter == 0 %>
  <ol id="loading">
  <% else %>
  <ol id="discharging">
<% end %>
    <li>
    <%= f.label :location, 'Location' %>
    <%= f.text_field 'location', :name => 'portdetail[][location]', :class => 'textbox', :maxlength => 50 %>
    </li>
    <li>
    <%= f.label :cargo, 'Cargo' %>
    <%= select 'portdetail', 'cargo', %w{mts}, {}, {:index => nil} %>
    </li>
    <li>
    <%= f.label :quantity, 'Quantity' %>
    <%= f.text_field 'quantity', :name => 'portdetail[][quantity]', :class => 'textbox', :maxlength => 50 %>
    </li>
    <li>
    <%= f.label :description, 'Description' %>
    <%= f.text_field 'description', :name => 'portdetail[][description]', :class => 'textbox', :maxlength => 50 %>
    </li>
    <li>
    <%= f.label :allowanceType, 'AllowanceType' %>
    <%= select 'portdetail', 'allowanceType', %w[mts/day], {},{:index => nil} %>
    </li>
    <li>
    <%= f.label :allowance, 'Allowance' %>
    <%= f.text_field 'allowance', :name => 'portdetail[][allowance]', :class => 'textbox', :maxlength => 50 %>
    </li>
    <li>
    <%= f.label :demurrage, 'Demurrage' %>
    <%= f.text_field 'demurrage', :name => 'portdetail[][demurrage]', :class => 'textbox', :maxlength => 25 %>
    </li>
    <li>
    <%= f.label :despatch, 'Despatch' %>
    <%= f.text_field 'despatch', :name => 'portdetail[][despatch]', :class => 'textbox' , :maxlength => 25 %>
    </li>
    <li>
    <%= f.label :commission_pct, 'Commission on demurrage(%)' %>
    <%= f.text_field 'commission_pct', :name => 'portdetail[][commission_pct]', :class => 'textbox' , :maxlength => 25 %>
    </li>
    <li>
    <%= f.label :time_start, 'Start time' %>
    <%= f.text_field 'time_start', :name => 'portdetail[][time_start]', :class => 'textbox' , :maxlength => 25 %>
    </li>
    <li>
    <%= f.label :time_end, 'End time' %>
    <%= f.text_field 'time_end', :name => 'portdetail[][time_end]', :class => 'textbox' , :maxlength => 25 %>
    </li>
    <li>
    <%= f.label :calculation_type, 'Calculate this port' %>
    </li>
    <li>
    Normal <%= radio_button_tag('calculation_type' + portdetail_counter.to_s,  value="normal", :checked => true) %>
    Customary quick despatch <%= radio_button_tag('calculation_type' + portdetail_counter.to_s,  value="customary") %>
    </li>
    <li>
    <%= f.label :calculation_time_saved, 'Calculate time saved' %>
    </li>
    <li>
    Working time saved <%= radio_button_tag('calculation_time_saved' + portdetail_counter.to_s, value="working", :checked => true) %>
    All time saved <%= radio_button_tag('calculation_time_saved' + portdetail_counter.to_s, "all") %>
    </li>
  </ol>
  </fieldset>
