<fieldset id="mainset">
<% if portdetail_counter == 0 %>
  <% 
    facts = loading_facts 
    operation = "loading"
    additional_time_allowance = additional_time[0]
    pre_advise = after_pre_advise[0]
  %>
  <ol id="loading">
    <%= error_messages_for 'portdetail', :object => portdetail, :header_message => 'Please correct the following errors and try again' %>
  <% else %>
  <% 
    facts = discharging_facts 
    operation = "discharging"
    additional_time_allowance = additional_time[1]
    pre_advise = after_pre_advise[1]
  %>
  <ol id="discharging">
    <%= error_messages_for 'portdetail', :object => portdetail, :header_message => 'Please correct the following errors and try again' %>
<% end %>
    <%= f.hidden_field :id, :name => 'portdetail[][id]', :value => portdetail.id %>
    <%= f.hidden_field :operation, :name => 'portdetail[][operation]', :value => portdetail.operation %>
    <li>
    <%= f.label :cargo, 'Cargo Quantity', :class => 'stdlabel' %>
    <%= f.text_field 'quantity', :name => 'portdetail[][quantity]', :class => 'stdtextbox', :value => portdetail.quantity, :maxlength => 10 %>
    <%= select 'portdetail', 'cargo', %w{mts}, {}, {:index => nil} %>
    </li>
    <li>
    <%= f.label :description, 'Description', :class => 'stdlabel'  %>
    <%= f.text_field 'description', :name => 'portdetail[][description]', :class => 'stdtextbox', :value => portdetail.description %>
    </li>

    <li>
    <%= f.label :allowance, 'Allowance', :class => 'stdlabel'  %>
    <%= f.text_field 'allowance', :name => 'portdetail[][allowance]', :class => 'stdtextbox', :value => portdetail.allowance, :maxlength => 10 %>
    <%= select 'portdetail', 'allowanceType', %w[mts/day], {},{:index => nil} %>
    </li>

   <li>
    <%= f.label :demurrage, 'Demurrage', :class => 'stdlabel'  %>
    <%= f.text_field 'demurrage', :name => 'portdetail[][demurrage]', :class => 'stdtextbox', :value => portdetail.demurrage, :onblur => 'validateAndFillDespatch("' + operation + '");' %>
   </li>
   <li>
    <%= f.label :despatch, 'Despatch', :class => 'stdlabel'  %>
    <%= f.text_field 'despatch', :name => 'portdetail[][despatch]', :class => 'stdtextbox', :value => portdetail.despatch %>
   </li>
   <li>
    <%= f.label :commission_pct, 'Commission on demurrage(%)', :class => 'stdlabel'  %>
    <%= f.text_field 'commission_pct', :name => 'portdetail[][commission_pct]', :class => 'stdtextbox', :value => portdetail.commission_pct %>
   </li>
   <li>
    <%= f.label :time_start, 'Laytime Commenced', :class => 'stdlabel' %>
    <%= f.text_field 'time_start_date_' + operation, :name => 'portdetail[][time_start_date]', :class => 'stdtextbox', :value => portdetail.time_start_date_string, :maxlength => 10, :onfocus => "if(this.value == 'hh:mm' || this.value == 'dd-mm-yy') {this.value = '';}" %>
    <%= f.text_field 'time_start_time_' + operation, :name => 'portdetail[][time_start_time]', :class => 'stdtextbox', :value => portdetail.time_start_time_string, :maxlength => 10, :onfocus => "if(this.value == 'hh:mm' || this.value == 'dd-mm-yy') {this.value = '';}" %>
    </li>
    <li>
    <%= f.label :time_end, 'Laytime Completed', :class => 'stdlabel'  %>
    <%= f.text_field 'time_end_date_' + operation, :name => 'portdetail[][time_end_date]', :class => 'stdtextbox', :value => portdetail.time_end_date_string, :maxlength => 10, :onfocus => "if(this.value == 'hh:mm' || this.value == 'dd-mm-yy') {this.value = '';}" %>
    <%= f.text_field 'time_end_time_' + operation, :name => 'portdetail[][time_end_time]', :class => 'stdtextbox', :value => portdetail.time_end_time_string, :maxlength => 10, :onfocus => "if(this.value == 'hh:mm' || this.value == 'dd-mm-yy') {this.value = '';}" %>
    </li>
    <li>
    <%= f.label :calculation_type, 'Calculate this port', :class => 'stdlabel'  %>
    </li>
    <li>
    Normal <%= radio_button_tag('calculation_type' + portdetail_counter.to_s,  value="normal", :checked => true) %>
    Customary quick despatch <%= radio_button_tag('calculation_type' + portdetail_counter.to_s,  value="customary") %>
    </li>
    <li>
    <%= f.label :calculation_time_saved, 'Calculate time saved', :class => 'stdlabel'  %>
    </li>
    <li>
    Working time saved <%= radio_button_tag('calculation_time_saved' + portdetail_counter.to_s, value="working", :checked => true) %>
    All time saved <%= radio_button_tag('calculation_time_saved' + portdetail_counter.to_s, "all") %>
    </li>
    <li>
    <h2>Statement of Facts</h2>
    </li>
    <li>
      <div id="running-info">
        <div id="running-time">
          <div id=<%= operation + "_allowed" %>>Total Time Allowed: </div>
          <div id=<%= operation + "_used" %>>Time Used: </div>
          <div id=<%= operation + "_available" %>>Time Remaining: </div>
        </div>
        <div id="running-dem-des">
          <div id=<%= operation + "_demurrage" %>>Demurrage: </div>
          <div id=<%= operation + "_despatch" %>>Despatch: </div>
        </div>
      </div>
    </li>
    <li>
      <table id="softable">
        <tr>
        <th style="width: 170px;">From</th>
        <th style="width: 170px;">Until</th>
        <th style="width: 110px;">Time To Count</th>
        <th style="width: 50px;">Pct (%)</th>
        <th style="width: 170px;">Remarks</th>
        </tr>
      </table>
    </li>
    <li>
    <div class="sof">
    <% facts.each do  |fact| %>
    <div class="row">
      <!-- If I try to format the elements below, all browsers add a space
      for each new line. When I add a new fact through javascript, that
      fact is not aligned according to this even though the styling
      width is all same. -->
    <% if portdetail_counter == 0 %>
      <%= hidden_field_tag 'id', fact.id, :name => 'loading[][id]' %>
      <%= label_tag 'day', '---', :id => 'from_' + operation + '_0' %><%= text_field_tag 'from_date_'+operation+'_0', fact.from_date_string, :name => 'loading[][from_date]', :class =>'time-info-text-date', :onblur => "displayDayLabel(this.value, 'from', 'loading', 0);", :onfocus => "this.value = $F('port_detail_time_start_date_loading');" %><%= text_field_tag 'from_time_'+operation+'_0', fact.from_time_string, :name => 'loading[][from_time]', :class =>'time-info-text-time', :onfocus => "this.value = $F('port_detail_time_start_time_loading');" %><%= label_tag 'day', '---', :id => 'to_' + operation + '_0' %><%= text_field_tag 'to_date_'+operation+'_0', fact.to_date_string, :name => 'loading[][to_date]', :class =>'time-info-text-date', :onblur => "displayDayLabel(this.value, 'to', 'loading', 0);", :onfocus => "if(this.value == 'hh:mm' || this.value == 'dd-mm-yy') {this.value = '';}" %><%= text_field_tag 'to_time_'+operation+'_0', fact.to_time_string, :name => 'loading[][to_time]', :class =>'time-info-text-time', :onfocus => "if(this.value == 'hh:mm' || this.value == 'dd-mm-yy') {this.value = '';}" %><%= text_field_tag 'timeToCount', fact.timeToCount, :name => 'loading[][timeToCount]', :class =>'ttc' %><%= text_field_tag 'val', fact.val, :name => 'loading[][val]', :class =>'pct', :onblur => "updateRunningInfo('loading', 0);" %><%= text_field_tag 'remarks', fact.remarks, :name => 'loading[][remarks]', :class =>'rem' %>
    <% else %>
      <%= hidden_field_tag 'id', fact.id, :name => 'discharging[][id]' %>
      <%= label_tag 'day', '---', :id => 'from_' + operation + '_0' %><%= text_field_tag 'from_date_'+operation+'_0', fact.from_date_string, :name => 'discharging[][from_date]', :class =>'time-info-text-date', :onblur => "displayDayLabel(this.value, 'from', 'discharging', 0);", :onfocus => "this.value = '';this.value = $F('port_detail_time_start_date_discharging');" %><%= text_field_tag 'from_time_'+operation+'_0', fact.from_time_string, :name => 'discharging[][from_time]', :class =>'time-info-text-time', :onfocus => "this.value = $F('port_detail_time_start_time_discharging');" %><%= label_tag 'day', '---', :id => 'to_' + operation + '_0' %><%= text_field_tag 'to_date_'+operation+'_0', fact.to_date_string, :name => 'discharging[][to_date]', :class =>'time-info-text-date', :onblur => "displayDayLabel(this.value, 'to', 'discharging', 0);", :onfocus => "if(this.value == 'hh:mm' || this.value == 'dd-mm-yy') {this.value = '';}"  %><%= text_field_tag 'to_time_'+operation+'_0', fact.to_time_string, :name => 'discharging[][to_time]', :class =>'time-info-text-time', :onfocus => "if(this.value == 'hh:mm' || this.value == 'dd-mm-yy') {this.value = '';}" %><%= text_field_tag 'timeToCount', fact.timeToCount, :name => 'discharging[][timeToCount]', :class =>'ttc' %><%= text_field_tag 'val', fact.val, :name => 'discharging[][val]', :class =>'pct', :onblur => "updateRunningInfo('loading', 0);" %><%= text_field_tag 'remarks', fact.remarks, :name => 'discharging[][remarks]', :class =>'rem' %>
    <% end %>
    </div>
    <% end %>
    </div>
    </li>
    <li>
      <% if portdetail_counter == 0 %>
      <a href="#" onclick="addRow('loading');">Add Fact</a>
      <% else %>
      <a href="#" onclick="addRow('discharging');">Add Fact</a>
      <% end %> 
    </li>
  </ol>
</fieldset>
