<fieldset id="mainset">
<% if portdetail_counter == 0 %>
  <% 
    facts = loading_facts 
    type = "loading"
    additional_time_allowance = additional_time[0]
    pre_advise = after_pre_advise[0]
  %>
  <ol id="loading">
    <%= error_messages_for 'portdetail', :object => portdetail, :header_message => 'Please correct the following errors and try again' %>
  <% else %>
  <% 
    facts = discharging_facts 
    type = "discharging"
    additional_time_allowance = additional_time[1]
    pre_advise = after_pre_advise[1]
  %>
  <ol id="discharging">
    <%= error_messages_for 'portdetail', :object => portdetail, :header_message => 'Please correct the following errors and try again' %>
<% end %>
  <%= f.hidden_field :operation, :name => 'portdetail[][operation]', :value => portdetail.operation %>
    <li>
    <%= f.label :cargo, 'Cargo Quantity', :class => 'stdlabel' %>
    <%= f.text_field 'quantity', :name => 'portdetail[][quantity]', :class => 'stdtextbox', :value => portdetail.quantity, :maxlength => 10 %>
    <%= select 'portdetail', 'cargo', %w{mts}, {}, {:index => nil} %>
    </li>
    <li>
    <%= f.label :description, 'Description', :class => 'stdlabel'  %>
    <%= f.text_field 'description', :name => 'portdetail[][description]', :class => 'stdtextbox', :value => portdetail.description %>
    </li>

    <li>
    <%= f.label :allowance, 'Allowance', :class => 'stdlabel'  %>
    <%= f.text_field 'allowance', :name => 'portdetail[][allowance]', :class => 'stdtextbox', :value => portdetail.allowance, :maxlength => 10 %>
    <%= select 'portdetail', 'allowanceType', %w[mts/day], {},{:index => nil} %>
    </li>

   <li>
    <%= f.label :demurrage, 'Demurrage', :class => 'stdlabel'  %>
    <%= f.text_field 'demurrage', :name => 'portdetail[][demurrage]', :class => 'stdtextbox', :value => portdetail.demurrage %>
    </li>
    <li>
    <%= f.label :despatch, 'Despatch', :class => 'stdlabel'  %>
    <%= f.text_field 'despatch', :name => 'portdetail[][despatch]', :class => 'stdtextbox', :value => portdetail.despatch %>
    </li>
    <li>
    <%= f.label :commission_pct, 'Commission on demurrage(%)', :class => 'stdlabel'  %>
    <%= f.text_field 'commission_pct', :name => 'portdetail[][commission_pct]', :class => 'stdtextbox', :value => portdetail.commission_pct %>
    </li>
    <li>
    <%= f.label :time_start, 'Laytime Commenced', :class => 'stdlabel' %>
    <%= portdetail.time_start %>
    <% if portdetail.time_start %>
      <%= f.text_field 'time_start', :name => 'portdetail[][time_start_date]', :class => 'stdtextbox', :value => portdetail.time_start_date_string, :maxlength => 10 %>
      <%= f.text_field 'time_start', :name => 'portdetail[][time_start_time]', :class => 'stdtextbox', :value => portdetail.time_start_time_string, :maxlength => 10 %>
    <% else %>
      <%= f.text_field 'time_start', :name => 'portdetail[][time_start_date]', :class => 'stdtextbox', :value => 'dd-mm-yy', :maxlength => 10 %>
      <%= f.text_field 'time_start', :name => 'portdetail[][time_start_time]', :class => 'stdtextbox', :value => 'hh:mm', :maxlength => 10 %>
    <% end %>
    </li>
    <li>
    <%= f.label :time_end, 'Laytime Completed', :class => 'stdlabel'  %>

    <% if portdetail.time_end %>
      <%= f.text_field 'time_end', :name => 'portdetail[][time_end_date]', :class => 'stdtextbox', :value => portdetail.time_end_date_string, :maxlength => 10 %>
      <%= f.text_field 'time_end', :name => 'portdetail[][time_end_time]', :class => 'stdtextbox', :value => portdetail.time_end_date_string, :maxlength => 10 %>
    <% else %>
      <%= f.text_field 'time_end', :name => 'portdetail[][time_end_date]', :class => 'stdtextbox', :value => 'dd-mm-yy', :maxlength => 10 %>
      <%= f.text_field 'time_end', :name => 'portdetail[][time_end_time]', :class => 'stdtextbox', :value => 'hh:mm', :maxlength => 10 %>
    <% end %>
    </li>
    <li>
    <%= f.label :calculation_type, 'Calculate this port', :class => 'stdlabel'  %>
    </li>
    <li>
    Normal <%= radio_button_tag('calculation_type' + portdetail_counter.to_s,  value="normal", :checked => true) %>
    Customary quick despatch <%= radio_button_tag('calculation_type' + portdetail_counter.to_s,  value="customary") %>
    </li>
    <li>
    <%= f.label :calculation_time_saved, 'Calculate time saved', :class => 'stdlabel'  %>
    </li>
    <li>
    Working time saved <%= radio_button_tag('calculation_time_saved' + portdetail_counter.to_s, value="working", :checked => true) %>
    All time saved <%= radio_button_tag('calculation_time_saved' + portdetail_counter.to_s, "all") %>
    </li>
    <li>
    <h2>Statement of Facts</h2>
    </li>
    <li>
    <div class="row">
    <span style="margin-left:95px; margin-right: 55px">
    From 
    </span>
    <span style="margin-left:55px; margin-right: 75px">
    To 
    </span>
    <span style="margin-left:7px; margin-right: 15px;">
    Time To Count
    </span>
    <span style="margin-left: 15px; margin-right: 30px;">
    Pct 
    </span>
    <span style="margin-left: 50px; margin-right: 30px;">
    Remarks
    </span>
    </div>
    </li>
    <div class="sof">
    <% facts.each do  |fact| %>
    <div class="row">
     <% if portdetail_counter == 0 %>
      <%= text_field_tag 'from', fact.from_string, :name => 'loading[][from]', :class =>'time-info-text' %><%= text_field_tag 'to', fact.to_string, :name => 'loading[][to]', :class =>'time-info-text' %><%= text_field_tag 'timeToCount', fact.timeToCount, :name => 'loading[][timeToCount]', :class =>'ttc' %><%= text_field_tag 'val', fact.val, :name => 'loading[][val]', :class =>'pct' %><%= text_field_tag 'remarks', fact.remarks, :name => 'loading[][remarks]', :class =>'rem' %>
      <% else %>
      <%= text_field_tag 'from', fact.from_string, :name => 'discharging[][from]', :class =>'time-info-text' %><%= text_field_tag 'to', fact.to_string, :name => 'discharging[][to]', :class =>'time-info-text' %><%= text_field_tag 'timeToCount', fact.timeToCount, :name => 'discharging[][timeToCount]', :class =>'ttc' %><%= text_field_tag 'val', fact.val, :name => 'discharging[][val]', :class =>'pct' %><%= text_field_tag 'remarks', fact.remarks, :name => 'discharging[][remarks]', :class =>'rem' %>
      <% end %>
      </div>
    <% end %>
    </div>
    <li>
      <% if portdetail_counter == 0 %>
      <a href="#" onclick="addrow('loading');">Add Fact</a>
      <% else %>
      <a href="#" onclick="addrow('discharging');">Add Fact</a>
      <% end %> 
    </li>
  </ol>
</fieldset>
