
<% form_for @cpdetail, :url => { :action => "portdetails" } do |f| %>
  <fieldset>
  <ol>
  <li>
    <%= f.label :cpName, 'Form' %>
    <%= f.text_field :cpName, :class => 'textbox', :maxlength => 40 %>
  </li>
  <li>
    <%= f.label :number, 'No.' %>
    <%= f.text_field :number, :class => 'textbox', :maxlength => 5 %>
  </li>
  <li>
    <%= f.label :dated, 'Date' %>
    <%= f.text_field :dated, :class => 'textbox', :maxlength => 10 %>
  </li>
  <li>
    <%= f.label :currency, 'Currency' %>
    <%= f.text_field :currency, :class => 'textbox', :maxlength => 10 %>
  </li>
  <li>
    <%= f.label :vessel, 'Vessel' %>
    <%= f.text_field :vessel, :class => 'textbox', :maxlength => 10 %>
  </li>
  <li>
    <%= f.label :partner, 'Partner' %>
    <%= f.text_field :partner, :class => 'textbox', :maxlength => 10 %>
  </li>
  <li>
    <%= f.label :from, 'From' %>
    <%= f.text_field :from, :class => 'textbox', :maxlength => 10 %>
  </li>
  <li>
    <%= f.label :to, 'To' %>
    <%= f.text_field :to, :class => 'textbox', :maxlength => 15 %>
  </li>
  <li>
    <%= f.label :details, 'Details' %>
    <%= f.text_field :details, :class => 'textbox' , :maxlength => 25 %>
  </li>
  <li>
    <%= f.label :remarks, 'Remarks' %>
    <%= f.text_area :remarks, :rows => 10, :cols => 30 %>
  </li>
  </ol>
  </fieldset>
  <div id="submit">
    <%= f.submit "Port Details", :class => "submit" %>
  </div>
<% end %>
