<%= error_messages_for :cpdetail, :header_message => 'Please try again!', :message => 'There were some problems in the form:' %>
<% form_for @cpdetail, :url => { :action => "portdetails" } do |f| %>
  <fieldset id="mainset">
  <ol>
  <li>
  <%= f.label :dated, display_date, :class => 'datelabel' %>
  </li>
  <li>
  <%= f.label :cpName, 'Form', :class => 'stdlabel' %>
  <%= f.text_field :cpName, :class => 'stdtextbox' %>
  </li>
  <li>
    <%= f.label :number, 'No.', :class => 'stdlabel'  %>
    <%= f.text_field :number, :class => 'stdtextbox' %>
  </li>
  <li>
    <%= f.label :currency, 'Currency', :class => 'stdlabel'  %>
    <%= f.text_field :currency, :class => 'stdtextbox' %>
  </li>
  <li>
    <%= f.label :vessel, 'Vessel', :class => 'stdlabel'  %>
    <%= f.text_field :vessel, :class => 'stdtextbox' %>
  </li>
  <li>
    <%= f.label :partner, 'Partner', :class => 'stdlabel'  %>
    <%= f.text_field :partner, :class => 'stdtextbox' %>
  </li>
  <li>
  <%= f.label :from, 'From / To', :class => 'stdlabel'%>
    <%= f.text_field :from, :class => 'stdtextbox', :maxlength => 13 %>
    /
    <%= f.text_field :to, :class => 'stdtextbox', :maxlength => 13 %>
  </li>
  <li>
    <%= f.label :details, 'Details', :class => 'stdlabel'  %>
    <%= f.text_field :details, :class => 'stdtextbox' %>
  </li>
  <li>
    <%= f.label :ports_to_calculate, 'Ports to be calculated', :class => 'stdlabel'  %>
    <li class="ports-to-calc">
    <%= f.radio_button :ports_to_calculate, 'R', :disabled => true %>Reversible
    <%= f.check_box :ports_to_calculate, :disabled => true %>All Ports reversible
    <%= f.check_box :ports_to_calculate, :disabled => true %>Loading Ports reversible
    <%= f.check_box :ports_to_calculate, :disabled => true %>Discharge Ports reversible
    </li>
    <li class="ports-to-calc">
    <%= f.radio_button :ports_to_calculate, 'NON_REVERSIBLE', :checked => true %>Non reversible
    </li>
    <li class="ports-to-calc">
    <%= f.radio_button :ports_to_calculate, 'A', :disabled => true %>Averaged
    </li>
  </li>
  <li>
    <%= f.label :once_on_demurrage, 'Once on demurrage', :class => 'stdlabel'  %>
    <%= f.radio_button :once_on_demurrage, 'A', :checked => true %>Always on demurrage
    <%= f.radio_button :once_on_demurrage, 'NA' %>Not always on demurrage
  </li>
  <li>
    <%= f.label :remarks, 'Remarks', :class => 'stdlabel'  %>
    <%= f.text_area :remarks, :rows => 10, :cols => 30 %>
  </li>
  </ol>
  </fieldset>
  <%= hidden_field_tag :cp_visited, true %>
  <div id="submit">
    <%= f.submit "Port Details", :class => "submit" %>
  </div>
<% end %>
