<style type="text/css">
  .info {
    color: #4064BF; 
    font-size: 30px; 
    padding-top: 50px;
    padding-bottom: 20px;
    width: 800px;
    text-align: center;
  }
  .info a:link, .info a:visited {
     color: #3D3D8F;
  }
</style>
<div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
  <%= flash[:warning] || flash[:notice] %>
</div>
<!-- User is not logged in. Display introduction -->
<% unless current_user %>
  <div class="info">Laytime calculation has never been easier!</div>
  <fieldset id="features">
    <strong>Perform calculations in Tuna easily. Some of the features include:</strong>
    <li>Simple and intuitive interface</li>
    <li>Pretty charts to visualize all your data</li>
    <li>No intallation required!</li>
    <li>Login from any computer and start calculating!</li>
    <li>Send reports as email attachments</li>
  </fieldset>
  <div class="info"><%= link_to 'Signup',  new_user_path %> for a free 7 day trial now! (no credit card required)</div>
<!-- User is logged in. Either display saved forms or show nice message -->
<% else %>
  <div class="info-message">
    <%= link_to 'Add User' %>
  </div>
<% if @cp_details.empty? %>
    <div class="info-message">
    You have not created any calculations yet. Go ahead and create your first one <%= link_to 'now', new_path %>!
    </div>
  <% else %>
    <div class="info-message">
    Create <%= link_to 'new', new_path %> calculation 
    </div>
  <h3>Your saved forms </h3>
  <%  @cp_details.each do |cp_detail| %>
  <br/>
  <%= link_to cp_detail.cpName + ' ' + cp_detail.created_at.to_date.to_s, :controller => 'laytime', :action => 'load', :id => cp_detail.id %>
  <% end
  end
end %>
