<style> 
  .tab {
    list-style: none;
  }

</style>
<script type="text/javascript">
  document.observe('dom:loaded',function(){
    new Control.Tabs('port-tab');
  });
</script>

<% unless @portdetails[0].errors.empty?  %>
  There are errors in loading
<% end %>

<% unless @portdetails[1].errors.empty?  %>
  There are errors in discharging
<% end %>

<h1>PortDetails</h1>
<% form_for @portdetails, :url => { :action => "result" } do |f| %>
  <%= hidden_field_tag :port_visited, true %>
  <fieldset id="port-tab">
  <ol class="tab">
    <li><a href="#loading">Loading at <%= session[:cp_detail].from %></a></li>
    <li><a href="#discharging">Discharging at <%= session[:cp_detail].to %></a></li>
  </ol>
  </fieldset>
  <%= render :partial => 'portdetail', :locals => {:f => f, :loading_facts => @loading_facts, :discharging_facts => @discharging_facts, :additional_time => @additional_time, :after_pre_advise => @after_pre_advise}, :collection => @portdetails %>
    <div id="submit">
    <%= f.submit "Calculate", :class => "submit" %>
  </div>
<% end %>
