<fieldset class='summary'>
  <li>
  <span class="stitle">Partner </span><%= @report.cp_detail.partner %>
  </li>
  <li>
  <span class="stitle">From/To </span><%= @report.cp_detail.from %> / <%= @report.cp_detail.to %>
  </li>
  <li>
  <span class="stitle">C/P</span> <%= @report.cp_detail.cpName %>
  </li>
  <li>
  <span class="stitle">Vessel</span> <%= @report.cp_detail.vessel%>
  </li>
</fieldset>

<fieldset class='summary-alt'>
  <div class="summary-heading" style="background-color: #808080; color: white;font-weight: bold">Loading at <%= @report.cp_detail.from %></div>
  <%= render :partial => 'report', :locals => {:port_details => @report.loading, :time_available => @report.loading_time_available, :time_used => @report.loading_time_used, :diff => @report.loading_diff, :amt => @report.loading_amt, :facts_report => @report.loading_fact_report_list, :port => "loading" } %>
</fieldset>

<fieldset class='summary'>

  <div class="summary-heading" style="background-color: #5F2A2F; color: white;font-weight: bold">Discharging at <%= @report.cp_detail.to %></div>
  <%= render :partial => 'report', :locals => {:port_details => @report.discharging, :time_available => @report.discharging_time_available, :time_used => @report.discharging_time_used, :diff => @report.discharging_diff, :amt => @report.discharging_amt, :facts_report => @report.discharging_fact_report_list, :port => "discharging"  } %>
</fieldset>
<fieldset class='summary-alt'>
    <li>
    <span class="stitle"><%= @report.balance_string %></span>
    <%= @report.balance %>
    </li>
</fieldset>
<div style="margin-top: 20px; margin-left: 100px;">
<%= link_to "View PDF", "/" + @report.cp_detail.id.to_s + ".pdf" %>
</div>
